<ion-view view-title="Login" hide-nav-bar="true" hide-back-button="true">
  <ion-content class="padding" style="color:#12f3d7">
    <!-- <center><h2>Login</h2></center> -->
    <center>
    <br>
    <div style="height: 1080px;background-color: rgba(0, 0, 0, 0.5);z-index: 10000;position: fixed;width: 100%;" ng-show="wait" >
    <img src="img/loading_spinner.gif" style="
    margin-top: 100%;
    width: 55px;
">
<br>
<p>{{loadingmsg}}</p>
    </div>
      <img ng-src="{{activeIcon}}" style="width:33%" ng-click=logout()><br>
      {{activeUserText}}<br><br>
     <!-- <div class="activeUser">A</div><br> -->


      <label class="item item-input">
        <!-- <span class="input-label">Username</span> -->
        <input type="text" id="uid" ng-model="uid" placeholder="UserId" pattern=".{4,30}" required="true">
      </label><br>

      <label class="item item-input">
        <!-- <span class="input-label">Password</span> -->
        <input type="password" id="pass" ng-model="pass" placeholder="Password" pattern=".{4,30}" required="true">
      </label>

      <button class="button button-block button-positive" ng-click=login(uid,pass)>
        Login
      </button>

  
    <br><br>

    <div ng-bind-html-unsafe="savedText"></div>

    <div ng-repeat="user in users">
     <div class="numberCircle" ng-click=loginFromSavedUsers(user) on-hold=deleteSavedUser(user)>{{user.userid[0]}}</div>
    </div>

    </center>

  </ion-content>
</ion-view>
